{% extends 'layout.html' %}


{% block content %}
<h2 align="center">แสดงข้อมูลบทความ</h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">รหัสบทความ</th>
        <th scope="col">บทความ</th>
        <th scope="col">รายละเอียด</th>
        
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <th scope="row">{{posts.id}}</th>
        <td>{{post.name}}</td>
        <td>{{post.desc}}</td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  


{% endblock %}